@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #0C356A;
}
.titulo {
    color: white;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
   
}
.subtitulo {
    color: white;
    font-size: 20px;
}
#seleccionar-mascota  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarjetas {
   display: flex;
   gap: 2px

}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background-color: #0d6886;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid hotpink;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.tarjeta-de-mokepon img {
    width: 80px;
}
input {
    display: none;
}
input:checked + label {
   background-color: rgb(28, 79, 109);
}
/* input:checked + label {
    width: 9vw;
    height: 18vh;
    border-radius: 50%;
    background-color: rgba(136,188,209,.8);
    color: #082432;
} */
#boton-mascota {    
    margin-top: 100px;
    background: transparent;
    border: 2px solid white;
    padding: 2px;
    border-radius: 20px;
    color: white
    
}
#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}
#boton-fuego, #boton-tierra, #boton-agua  {
    background-color:#0d6886;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: 30px;
    border-color: transparent;   
    user-select: none;
}
#boton-de-ataque {  
    background-color: #11468F;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: 80px;
    border-color: transparent;
    color: white
   
}

#mensajes {
    padding: 20px;
    width: 180px;
    background: #6AD4DD;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
#boton-reiniciar {
    border: transparent;
    color:#0d6886;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: center;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 600px){
    .tarjetas, .botones {
        flex-direction: column;
    }
}

@media (max-width: 600px){
    #botones-de-ataque-medio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.boton {
    display: flex;
    gap: 10px;
    background-color: #11468F;
    width: 80px;
    user-select: none;
}

.botones {
    display: flex;
    gap: 10px;
    user-select: none;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#botones-de-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    background-color: #0C356A;
    user-select: none;
}
#botones-de-ataque-medio {
    display: flex;
    margin: 2px;
    user-select: none;

}

#mapa {
    border: 2px solid white;

}